.heading{
    padding-top: 20%;
    padding-left: 10%;
}

.para{
    margin-top: 10%;
}

.position-toggle{
position: absolute;
left: 88.4%;

}

.customer-css{
    color: #F23802;
}

.heading-size{
    font-size: 68px;
}